# Arquivos de ambiente
.env
users.db

# Cache do Python
__pycache__/
*.py[cod]

# Arquivos temporários de sistema
.DS_Store
Thumbs.db

# Jupyter Notebooks checkpoint
.ipynb_checkpoints/

# Configurações do VSCode (opcional)
.vscode/

# Logs e temporários
*.log
*.tmp

# Ambientes virtuais
venv/
env/
